*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ccc;
}

.elements{
    display: flex;
    justify-content: center;
}

.element{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 100ms;
}

.element:hover{
    transform: scale(1.2);
}

.element-img{
    width: 250px;
    height: 250px;
}

.result{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.result-caption{
    font-size: 3vw;
}

#user-choice{
    font-size: 3vw;
    margin-top: 5px;
}

#com-choice{
    font-size: 3vw;
    margin-top: 5px;
}

#final-result{
    font-size: 3vw;
    display: inline;
    margin: 100px 0 0 600px;
    padding-left: 100px;
}